<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: center;">Evaluacion Grafica</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list-header color="light">Grafica 1</ion-list-header>
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-subtitle>Ability to</ion-card-subtitle>
      <ion-card-title>drive high-impact transformations</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <canvas #barChart></canvas>
    </ion-card-content>
  </ion-card>

  <ion-list-header color="light">Grafica 2</ion-list-header>
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-subtitle>Ability to</ion-card-subtitle>
      <ion-card-title>generate new value</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <canvas #generateChart></canvas>
    </ion-card-content>
  </ion-card>

  <ion-grid>
    <ion-row style="margin: 15px;">
      <ion-col style="text-align: center;">
        <ion-button shape="round" fill="outline">Recomendaciones</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
