<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="primary" menu="primerMenu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list-header color="light">Grafica 1</ion-list-header>
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-subtitle>Habilidad para:</ion-card-subtitle>
      <ion-card-title>Impulsar transformaciones de alto impacto</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <canvas #barChart></canvas>
    </ion-card-content>
  </ion-card>

  <ion-list-header color="light">Grafica 2</ion-list-header>
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-subtitle>Habilidad para:</ion-card-subtitle>
      <ion-card-title>Generar valor nuevo</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <canvas #generateChart></canvas>
    </ion-card-content>
  </ion-card>

  <ion-grid>
    <ion-row style="margin: 15px;">
      <ion-col style="text-align: center;">
        <ion-button shape="round" fill="outline">Recomendaciones</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
