

ion-content.background-image {
    --background: url('../../assets/splash.png') 0 0/100% 100% no-repeat;

    img { 
        width:400px !important; 
        height : 150px !important; 
        } 
    

   

ion-grid{
    --ion-grid-padding:10px;

    .center{
        text-align: center;
    }


.align-text-middle {
    display: flex;
    justify-content: center;
}

.col-space-to-separate{
    margin: 20px;
        }
    }

}