<ion-menu contentId="main-content" type="overlay" side="start" menuId="primerMenu">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-menu-toggle>
        <ion-item routerLink="/perfil">Mi perfil</ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item routerLink="/contenido">Inicio</ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item (click)="onLogout()">Cerrar sesión</ion-item>
      </ion-menu-toggle>     
    </ion-list>
  </ion-content>
</ion-menu>
