ion-content.background-image{
   
        --background: url('../../assets/fondo2.png') 0 0/100% 100% no-repeat;
      

ion-grid{
    --ion-grid-padding:30px;

    .center{
        text-align: center;
    }


.align-text-middle {
    display: flex;
    justify-content: center;
}

img { 
    width:130% !important; 
    height : 130% !important; 
    max-width: 130px !important;  
    max-height: 130px !important;  
    } 
.col-space-to-separate{
    margin: 20px;
        }
    }
}